<div class="row" style="padding: 10%;">
  <div class="col-md-12">
    <p>
      <button type="button" class="btn waves-effect waves-light blue" (click)="rerender()">
        Rerender
      </button>
      <button type="button" class="btn waves-effect waves-light blue" (click)="rerender2()">
        Rerender
      </button>
    </p>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover">
      <thead>
        <tr>
          <th>name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>{{ item.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>